.important-padding { 
    padding: 2px 10px !important;
    margin:0px 0px 30px 20px !important;
    border: none;
 }

.important-padding2{
    margin: 30px !important; 
    justify-content:space-evenly;
}

.ButtomEventos{
    margin-left: 20px;
    padding: 5px !important;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.29);
         
}

.d-flex{
 display: flex;
 flex-direction: row;
}